@import "tailwindcss";

@layer utilities {
  select option {
    background-color: #1e293b;
    color: white;
  }
}

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #1e293b;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}